$colores:(
    color-fondo:deeppink,
    color-fondo-secundario: mediumpurple,
    color-rosa-claro:pink, 
    color-violeta:blueviolet,
    color-footer:chocolate,
);
$fuentes:(
    fuente: Fantasy,
    fuente-header: $fuente2,
);
