header {
  background-color: pink;
  text-align: center;
  padding: 6px;

  .logo {
    display: inline-block;
    width: 150px;
    height: 150px;
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 15px;
      li {
        @include menu-btn;
        &:hover {
          color: blueviolet;
          background-color: white;
        }

        a {
          display: inline-block;
          color: inherit;
          text-decoration: none;
        }
        .cta {
          @extend a;
          border: 1px solid #1a2d2b;
          width: 100%;
        }
      }
      @media (max-width: 900px) {
        flex-direction: column;
      }
    }
  }
  h1 {
    font-size: 40px;
    font-family: map-get($fuentes, fuente-header);
    text-align: center;
    color: darkslateblue;
  }
}