$color-fondo:deeppink;
$color-fondo-secundario: mediumpurple;
$color-rosa-claro:pink;
$fuente: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fuente2: "Segoe UI" Tahoma Geneva Verdana sans-serif;